<p>
  Title: <%= @book.title %><br>
  <% if @book.cover.attached?
    image_tag @book.cover.variant(resize_to_limit: [100, 100])
  end %>
  Auhtor: <%= @book.author.name %><br>
  Pages: <%= @book.pages %>
</p>
<%= link_to 'Back', books_path %>